@import '../common';

.hero {
  // background-color: $darkBgColor;
  height: 50rem;
  padding: 3rem;

  * {
    color: $lightTextColor;
  }

  
}

li {
  list-style: none;
}
.done-true {
  text-decoration: line-through;
  color: grey;
}

