<section class="todo">
    <h1>Todo list</h1>
    <todo-list todos="$ctrl.todos" on-remove-todo="$ctrl.removeTodo($event);"></todo-list>
    <todo-remain remaining="$ctrl.remaining()"></todo-remain>
    <todo-form todo="$ctrl.newTodo" on-add-todo="$ctrl.addTodo($event);"></todo-form>
    <todo-archive on-add-to-archive="$ctrl.addToArchive($event);"></todo-archive>
</section>