<div>
  <input type="text" placeholder="filter todos" ng-model="$ctrl.filter.text">
</div>
<ul class="todo-list">
  <li ng-repeat="todo in $ctrl.todos | filter : $ctrl.filter.text" >
	  <todo-item todo="todo" on-remove-item="$ctrl.removeItem($index)"></todo-item>      
  </li>
</ul>